.container {
    margin-top: 105px;
    transform: translateX(-60px);
    padding-top: 20px;
}

.contest-slide {
    padding: 112px; /* Add padding for individual slides */
    margin-top: 37px;
    background-color: #fff; /* Background color for slides */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.contest-slide img {
    max-width: 100%; /* Responsive width */
    height: auto;    /* Maintain aspect ratio */
    max-height: 300px; /* Set maximum height for the image */
    border-radius: 8px; /* Optional: Add some rounded corners */
    display: block;
    margin: 0 auto;
}

h5 {
    text-align: center; /* Center the title */
}

h6 {
    text-align: center; /* Center the contest names */
}

p {
    text-align: center; /* Center the contest description */
}
